body{
  
  //
  // Application Level Styling
  //
  @extend .full-background;
  background-position: 0px 0px;
  background-image: url('https://drqkr2smv75b.cloudfront.net/www/images/waves1.jpg');
  //color: $white;
  
  h1,h2,h3,h4,h5,h6{
    color: $rf-green;
  }
  
  .footer-nav{
    color: $white;
    padding-top: 25px;
    padding-bottom: 10px;
    background: $rf-gray;
  }
  
  //
  // Main Content Area
  //
  #main{
    background: rgba(255,255,255,0.85);
    padding-top: 25px;
    padding-bottom: 25px;
    color: $rf-gray;
    
    #big_top_image{
      margin-top: -50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('/assets/HalfMoonBay.jpg');
      width: 100%;
      height: 300px;
    }
  }

  //
  // Front page styling only
  //
  #container{
    
    #healthy_banner{
      background-color: $rf-gray;
      padding-top: 10px;
      padding-bottom: 10px;
      display: none;
    }
    
    #mission{
      display: none;
    }
    
    #endorsement{
      @extend .white_rows;
      img{
        @include rotate_element(0deg);
      }
    }
    
    #coaching{
      @extend .green_rows;
    }
    
    #barnabas{
      @extend .white_rows;

    }
    
    #leadership{
      @extend .green_rows;
    }
    
    #contact{
      @extend .white_rows;
    }
    
    #about{
      @extend .green_rows;
    }
  }
}